@font-face {
  font-family: "iconfont"; /* Project id 2900159 */
  src: url('./iconfont.woff2?t=1638150919920') format('woff2'),
       url('./iconfont.woff?t=1638150919920') format('woff'),
       url('./iconfont.ttf?t=1638150919920') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before {
  content: "\e639";
}

.icon-shanchu:before {
  content: "\e602";
}

.icon-close:before {
  content: "\e6e9";
}

.icon-dianzan:before {
  content: "\e600";
}

.icon-31pinglun:before {
  content: "\e601";
}

.icon-zhiboguankanshu:before {
  content: "\e665";
}

